.page-header{
    text-align: center;
}
.page-header button{
    width: 300px;
}
.blog{
  color: blue;
}
/*.new{
    text-align: center;
    border: solid red;
}
.new form{
    border: solid red;
    text-align: center;
    width: 35%;
    margin: 0 32%;
    
}*/